.gallery
  %h4
    = @title
  - imgs = images
  - imgs.each_index do |i|
    - image = imgs[i]
    - thumb = image.rep_named(:thumbnail)
    - if i%6 == 0 && i > 0
      %hr
    - next unless thumb
    .img
      %a{:href => image.path}
        %img{:src => thumb.path, :alt => image[:alt]}